*{
    margin: 0;
    padding: 0;
}



.up{
    text-align: center;
}

.down{
    
    width: 100%;
    height: 80vh;
    display: flex;
}

.down-1{
    flex:1;
    width:100%;
    height: 100%;
    padding: 20px;
    
}

.down-1 img{
    width: 100%;
    height: 100%;
}

.down-2{
    flex:1;
    padding: 90px;
}

.down-2 p{
    line-height: 1.5;
    font-size: large;
}