* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container {
  padding: 60px 8%;
}

.about-header {
  text-align: center;
  margin-bottom: 60px;
}

.about-header h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
}

.about-header span {
  font-weight: 700;
}

.underline {
  width: 70px;
  height: 3px;
  background: #111;
  margin: 10px auto 0;
}


.about-content {
  display: flex;
  gap: 60px;
  align-items: center;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.about-text {
  flex: 1;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
}

.about-text h3 {
  margin: 25px 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.text {
  padding: 15px 0;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 60px;
}

.text span {
  font-weight: 700;
}

.card-section {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.card h3 {
  color: #333;
  margin-bottom: 15px;
}

.card p {
  color: #666;
  line-height: 1.6;
  font-size: 15px;
}

@media (max-width: 900px) {
  .about-content {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }
}


@media (max-width: 600px) {
  .about-container {
    padding: 40px 5%;
  }

  .about-header h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 14px;
  }

  .text {
    font-size: 20px;
    text-align: center;
  }

  .card-section {
    flex-direction: column;
  }

  .card {
    padding: 20px;
  }
}
