
#cart-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 50px 100px;
  flex-direction:column;
  /* justify-content: flex-end; */

}

/* LEFT */
#cart-left {
  width: 100%;
}
.cart-items {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  border-bottom: 1px solid #ddd;
  gap: 20px;
  width:100%;
}

.cart-img {
  width: 70px;
  height: auto;
}

.cart-info {
  flex: 1;
}

.cart-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.cart-info p {
  font-size: 14px;
  color: #555;
}

.cart-info span {
  margin-left: 10px;
}

.cart-qty {
  width: 60px;
  padding: 5px;
  justify-content: space-between;
  margin-right: 300px;
}

.cart-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  justify-content: right;
  
}
.cart-delete img{
    width:20px;
    height:20px;
}



/* RIGHT */
#cart-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;  
  align-items: center;        
}


#cart-totals {
  width: 420px;
  margin-left:auto;
  margin-top: 100px;

  
}



#cart-totals h3 {
  font-size: 18px;
  margin-bottom: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
}

.total {
  font-weight: 700;
  margin-top: 10px;
}

#cart-totals button {
  width: 60%;
  margin-top: 30px;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-left:180px;
}
