* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* div {
  border: 1px solid black;
} */
.container {
  /* border: 1px solid black; */
  width: 90%;
  height: 100px;
  margin-top: 60px;
  margin-left: 63px;
  display: flex;
  border: none;
  gap: 20px;
}
.delivery-information {
  flex: 1;
  border: none;
}
.delivery-text {
  border: none;
}
.delivery-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.name-input {
  display: flex;
  gap: 10px;
  border: none;
  margin-top: 15px;
}
.name-input input {
  width: 100%;
  height: 35px;
  font-size: 17px;
  margin-top: 15px;
}
.first-name {
  flex: 1;
  border: none;
}
.first-name input {
  padding: 10px 0px 10px 10px;
  border-radius: 3px;
  border: 1px solid grey;
}
.second-name {
  flex: 1;
  border: none;
}
.second-name input {
  padding: 10px 0px 10px 10px;
  border-radius: 3px;
  border: 1px solid grey;
}
.email-input {
  margin-top: 15px;
  border: none;
}
.email-input input {
  width: 100%;
  height: 35px;
  font-size: 17px;
  padding: 10px 0px 10px 10px;
  border-radius: 3px;
  border: 1px solid grey;
}
.cart-totals {
  border: 1px solid black;
  flex: 1;
}
.cart-totals {
  width: 100%;
  height: auto;
  border: none;
}
.cart {
  border: none;
}
.cart-text {
  margin-top: 45px;
  margin-bottom: 18px;
  border: none;
}
.cart-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.all-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: none;
}
.sub-total {
  border: none;
}
.rupees {
  border: none;
}
.sub-total h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.rupees h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.all-total {
  border: none;
}
.sub-total {
  /* border: none; */
}
.payment {
  margin-top: 30px;
  border: none;
}
.payment-method {
  border: none;
}
.payment-method h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 0px;
  font-size: 15px;
}
.box {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  border: none;
}
.payment-option {
  flex: 1;
}
.razorpay {
  flex: 2;
}
.cash-on-delivery {
  flex: 2;
}
.payment-option {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7px;
  border: none;
}
.radio-button input {
    border: 1px solid grey;
}
.logo-text {
  border: none;
}
.logo-text input{
   border: 1px solid grey; 
}
.logo-text h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #635bff;
  padding-right: 15px;
}
.logo-text {
  flex: 1;
  display: flex;
  justify-content: center;
}
.razorpay {
  border: 1px solid grey;
}
.razorpay-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.razorpay h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #635bff;
  padding-right: 15px;
}
.cash-on-delivery{
    border: 1px solid grey;
}
.cash-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cash-text h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #635bff;
  padding-right: 15px;
}
.order {
  width: 100%;
  height: 52px;
  margin-top: 30px;
  display: flex;
  justify-content: right;
  margin-right: 0px;
  border: none;
}
.place-order {
  height: 40px;
  width: 220px;
 margin-bottom: 6px;
 margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
