    * {
        margin: 0;
        padding: 0;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 800px;
        width: 100%;
    }
    
    .contact-us {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        background-color: white;
        align-items: center;
        height: 100px;
    }
    
    .contact-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 700px;
        padding-left: 30px;
        /* border: 1px solid black; */
        background-color: white;
    }
    
    .contact-pic {
        display: flex;
        flex: 1;
        gap: 20px;
        width: 300px;
        padding: 10px;
        justify-content: end;
        /* border: 1px solid black; */
    }
    
    .contact-pic img {
        width: 500px;
    }
    
    .contact-info {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        padding: 30px;
        /* border: 1px solid black; */
        flex: 1;
        background-color: white;
    }
    
    .our-store {
        flex: 0.7;
        align-items: center;
    }
    
    .address {
        flex: 1;
    }
    
    .tel {
        flex: 1;
    }
    
    .careers {
        flex: 0.5;
    }
    
    .learn {
        flex: 1;
    }
    
    .explore {
        flex: 0.5;
    }
    
    .explore button {
        background-color: white;
        padding: 15px;
    }
    
    .sub {
        display: flex;
        /* border: 1px solid black; */
        height: 200px;
        padding-top: 20px;
        flex-direction: column;
        background-color: white;
    }
    
    .subscribe {
        display: flex;
        flex: 1;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
    }
    
    .text {
        display: flex;
        flex: 1;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: center;
        height: 8px;
    }
    
    .enter {
        display: flex;
        flex: 1;
        /* border: 1px solid black; */
    }
    
    .enter1 {
        display: flex;
        flex: 1.5;
        /* border: 1px solid black; */
        align-items: center;
        justify-content: end;
    }
    
    .but {
        display: flex;
        flex: 1;
        /* border: 1px solid black; */
    }
    
    #subscribing {
        border: 1px solid black;
        background-color: black;
        color: white;
    }
    
    .enter1 input {
        padding: 15px;
        border: o.5px solid white;
        width: 300px;
    }