* {
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    height: 100%;
    width: 100%;
    border: 3px solid black;
}

.contact-us {
    flex: 1;
    background-color: blue;
    display: flex;
    align-items: center;
    height: 100px;
    width: 200px;
    /* border: 3px solid black; */
}

.contact-details {
    flex: 5;
    display: flex;
    flex-direction: row;
    background-color: blue;
    /* border: 3px solid black; */
}

.contact-pic {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    /* border: 3px solid black; */
}

.contact-info {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    /* border: 3px solid black; */
}