.hero {
  width: 100%;
  height: 70vh;
  padding: 0 4rem;
}
.hero .theme {
  width: 100%;
  height: 100%;
  border: 1px solid #b7b4b4;
  display: flex;
}
.left {
  flex: 1;
}

.right {
  flex: 1;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
