header {
  width: 100%;
  padding: 0 4rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

nav .logo img {
  width: 7rem;
}

nav .nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-items .admin {
  margin-left: 1rem;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

nav .nav-functions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-functions img {
  width: 1.5rem;
}
