:root {
  --color-heading: #414141;
  --color-body-text: #616161;
  --color-brand-accent: #c586a1;
  --color-hero-pink: #ffebf1;
  --color-primary-black: #000000;
  --color-pure-white: #ffffff;
}
header {
  width: 100%;
  padding: 0 4rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #b7b4b4;
}

nav .logo img {
  width: 7rem;
}

nav .nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center;
}

.nav-items li {
  margin: 0;
}

.nav-items a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s;
  position: relative;
  padding-bottom: 0.5rem;
}

.nav-items a:hover {
  color: #888;
}

.nav-items a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.nav-items a:hover::after {
  width: 100%;
}

.nav-items a.active {
  color: #333;
}

.nav-items a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

nav .admin {
  margin-left: auto;
  margin-right: 2rem;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-size: 0.7rem;
  cursor: pointer;
}
.admin a{
text-decoration: none;
color:#000;
}

nav .nav-functions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-functions img {
  width: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.nav-functions img:hover {
  opacity: 0.7;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon span {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #000;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
}
