:root {
  --color-heading: #414141;
  --color-body-text: #616161;
  --color-brand-accent: #C586A1;
  --color-hero-pink: #FFEBF1;
  --color-primary-black: #000000;
  --color-pure-white: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
}
.product-page{
    height: 200vh;
    width: 100%;
    /* background-color: #FFFFFF; */
    /* background-color: #C586A1; */
    padding: 25px;
}

.product-item{
    display: flex;
    /* background-color: aqua; */
    height: 90vh;
    width: 100%;
    padding: 25px;
    gap: 5px;
}

.review-picture1{
    height: 20vh;
    width: 15vh;
     /* border: 2px solid black; */
     margin-left: 15px;
}

.review-picture1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.review-picture2{
    flex: 1;
     /* border: 2px solid black; */
     height: 75vh;
     width: 100vh;
}

.review-picture2 img{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* display: block; */

}

.review-details{
    flex: 2;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    margin-left: 15px;
    padding: 25px;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25px;
}

.rating img{
    width: 80px;
    margin-right: 5px;
    /* margin-top: 10px; */
    margin-left: 5px;
}

.item-price{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-top: 30px;
}
.item-price p{
    font-size: 30px;
}

.item-price .item-description{
    font-size: 18px;
    margin-top: 30px;
    color:  #888;
}

.size-title{
    margin-top: 15px;
}

.size-title p{
    color:#000000;
    font-size: 17px;
}
.item-sizes{
  display: flex;
  margin-top: 15px;
  gap: 10px;
  margin-bottom: 20px;
}

.item-sizes button{
    padding: 10px 14px;
    background-color:#E5E7EB;
    border: 1px solid #D1D5DB;
    cursor: pointer;
}

.add-cart {
     padding: 15px 16px;
    width: 20%;
    background-color: #000000;
    color: #E5E7EB;
     cursor: pointer;
     border: none;  
}

.item-trust-badge{
    width: 50%;
    display: flex;
    margin-top: 20px;
    border-top: 1px solid grey;
    padding: 15px;
}

.item-trust-badge ul{
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.description-box{
    width: 100%;
    height:32vh;
    /* background-color: red; */
      padding: 40px;
}

.description-box button{
    cursor: pointer;
    padding: 14px 30px;
      border: 1px solid #D1D5DB;
}

.description-content{
       border: 1px solid #D1D5DB;
    padding: 10px;

}



