:root {
  --color-heading: #414141;
  --color-body-text: #616161;
  --color-brand-accent: #C586A1;
  --color-hero-pink: #FFEBF1;
  --color-primary-black: #000000;
  --color-pure-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-pure-white);
  color: var(--color-body-text);
}
a { 
  text-decoration: none;
  color: var(--color-body-text);
}